:root{
    --red: #d00000ff;
--black: #37323eff;
--white: #fbfff1ff;
--blue: #2667ffff;
--blue_opa:#2667ff11;
--dark_blue: #6c8eadff;
--title: 'Russo One', sans-serif;
--normal:'Quicksand', sans-serif;
}


html, body{
    margin: 0px;
    height: 100vh;
    color: #2667ffff;
}

@media screen and(orientation: landscape) {
    .insidehero{
        height: 56.25%;
    }
}

picture{
    width: 100vw;
    height: 100vh;
}

picture img{
    object-fit: fill;
    object-position: 50% 50%;
}

.insidehero{
    width: 100vw;
    height: 100vh;
    background-color: #6c8eadff;
    opacity: 35%;

    top: 0px;
    right: 0px;
    bottom:0px;
    left:0px;
    position: absolute;

}

h1{
    font-family: 'Russo One', sans-serif;
    color: #d00000ff;
}

p{
    font-family: 'Quicksand', sans-serif;
    color: #37323eff;
}