:root{
    --red: #d00000ff;
--black: #37323eff;
--white: #fbfff1ff;
--blue: #2667ffff;
--blue_opa:#2667ff11;
--dark_blue: #6c8eadff;
--title: 'Russo One', sans-serif;
--normal:'Quicksand', sans-serif;
}

body {
    height: 100vh;
    font-size: 16px;
    background-color: var(--blue);
}

.title-1{
    font-family: var(--title);
    font-size:48px;
}

.title-2{
    font-family: var(--title);
    font-size:32px;
}

.title-3{
    font-family: var(--normal);
    font-size:25px;
}

li{
    font-family: var(--normal);
}

.hero{
    text-align: center;
    color: #fff;
    /*width: 100vw;*/
    height: 100vh;
    background-image: linear-gradient(var(--blue_opa), var(--blue)), url("https://i.imgur.com/gKLj1PA.png");
    background-position-y: 25%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero h1{
    margin-top: 25%;
}

.imgHero{
    background-image: linear-gradient(var(--blue_opa), var(--blue));
}
.imgHero img{
    position: relative;
    color: var(--blue_opa);
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-image: linear-gradient(var(--blue_opa), var(--blue));
}

.navbar{
    color: #fff;
    background-color: #000;
    width: 100vw;
    margin-top: 45px;
}

#mainNav a{
    padding: 20px;
    text-decoration: none;
    
}

.navbar-brand img{
    width: 50px;
}

.albums{
    margin: 20px 0 20px 0;
}

.albumOl{
    color: #fff;;
}

.button{
    margin-top: 0;
    margin-left: auto;
    font-family: var(--normal);
    padding: 25px;
    border-radius: 20px;
    margin-top: 25px;
    background-color: var(--dark_blue);
    color: var(--white);
    border: none;
}

.buttonAlbum{
    margin-top: 0;
    margin-left: auto;
    font-family: var(--normal);
    padding: 15px;
    border-radius: 20px;
    margin-top: 5px;
    background-color: var(--dark_blue);
    color: var(--white);
    border: none;
}

.row {
    margin: 20px 0 20px 0;
}

.imgAlbum{
    width: 450px;
    margin-top: 20px;
}

footer{
    text-align:center;
    background-color:var(--red);
    margin-top: 20px;
    padding: 20px;
}

.link{
    color:var(--black);
    text-decoration: none;
}

.link:hover{
    color:var(--black);
    text-decoration: none;
}

@media screen and (orientation: landscape){
    .hero{
        height: 56.25%;
        background-image: linear-gradient(var(--blue_opa), var(--blue)), url("https://i.imgur.com/hi1UNMT.jpg");
    }
    .navbar{
        background-color: #000;;
        width: 100vw;
        margin-top: 175px;
    }
    
}