body{
    color: #2667ffff;
}

@media screen and(orientation: landscape) {
    .hero{
        height: 56.25%;
    }
}

picture{
    width: 100vw;
    height: 100vh;
}

picture img{
    object-fit: fill;
    object-position: 50% 50%;
}

.insidehero{
    width: 170vw;
    height: 170vh;
    background-color: #6c8eadff;
    opacity: 35%;

    margin:0%;
    position: absolute;
}