:root{
    --red: #d00000ff;
--black: #37323eff;
--white: #fbfff1ff;
--blue: #2667ffff;
--blue_opa:#2667ff11;
--dark_blue: #6c8eadff;
--title: 'Russo One', sans-serif;
--normal:'Quicksand', sans-serif;
}

body{
    height: 100vh;
    font-size: 16px;
    background-color: var(--blue);
}

@media screen and(orientation: landscape) {
    .insidehero{
        height: 56.25%;
    }
}

picture{
    width: 100vw;
    height: 100vh;
}

.hero-img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 35%;
}

.insidehero{
    width: 100vw;
    height: 100vh;

    

    top: 0px;
    right: 0px;
    bottom:0px;
    left:0px;
    

}








h1{
    font-family: var(--title);
    font-size:48px;
}

.title-1{
    font-family: var(--title);
    font-size:48px;
}

.title-2{
    font-family: var(--title);
    font-size:32px;
}

.title-3{
    font-family: var(--normal);
    font-size:25px;
    color:var(--black);
}


p{
    font-family: var(--title);
    font-size:32px;
}

button{
    font-family: var(--normal);
    padding: 25px;
    border-radius: 20px;
    margin-top: 25px;
    background-color: var(--dark_blue);
    color: var(--white);
    border: none;
}

.navbar{
    width: 100%;
    background-color: var(--black);
    color: #fbfff1ff;
}

.nav-link{
    color: #fbfff1ff;
}

.navbar-toggler-icon{
    color: #fbfff1ff;
}

footer{
    text-align:center;
    background-color:var(--red);
    margin-bottom: 10px;
    padding: 20px;
    position: relative;
    
}

.crush-logo{
    padding: 0;
    position: relative;
    width: 100%;
    object-fit: cover;
    max-width: 100%;
    height: auto;
} 

.crush-logo-pic{
    padding: 0;
    position: relative;
    width: 500;
    object-fit: cover;
    max-width: 100%;
    height: auto;
}



.undefined-img{
    position: absolute;
    
}

#barre-lateral{
    right:auto;
    width: 20%;
}

#barre-lateral img{
    max-width: 100%;
    height: auto;
}

.link{

    color:var(--black);
    text-decoration: none;

}


.link:hover{

    color:var(--black);
    text-decoration: none;

}